<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  
  </head>


  <body>
    <nav>
<ul>
<li><a href="/">Home</a></li>
<li><a href="/computing">Computing</a></li>
<li><a href="/photography">Photography</a></li>
<li><a href="/music production">Music Production</a></li>
<li><a href="/contact">Contact</a></li>
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>
  
  <footer>
   <ul>
   <li><a href="mailto:calvin50403@yahoo.ca">email</a></li>
   <li><a href="https://github.com/calvinivia">github</a></li>
   </ul>
  </footer>
  </body>

</html>
